/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./assets/globals.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --font-alt: "Libre Baskerville", serif;
  --font-primary: "Manrope", sans-serif;
  --color-bg: 210, 75%, 98%;
  --color-bg-alt: 240, 10%, 5%;
  --color-primary: 50, 100%, 50%;
  --color-primary-alt: 50, 32%, 42%;
  --color-alert: 0, 88%, 45%;
  --color-success: 135, 85%, 55%;
  --color-white: 0, 0%, 100%;
  --color-black: 0, 0%, 0%;
  --color-title: 0, 0%, 0%;
  --color-body: 213, 9%, 45%;
  --fs-ms: 1.2rem;
  --fs-xxs: 1.6rem;
  --fs-xs: 1.8rem;
  --fs-sm: 2.0rem;
  --fs-md: 2.6rem;
  --fs-lg: 4.8rem;
  --fs-xl: 7.0rem;
  --fs-xml: 12rem;
  --fs-xxl: 16rem;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --header-height: 22rem;
  --x-spacing: 9rem;
  --y-spacing: 24rem;
}
@media (max-width: 1366px) and (max-height: 820px) {
  :root {
    --header-height: 18rem;
  }
}
@media (max-width: 1366px) {
  :root {
    --fs-xml: 10rem;
  }
}
@media (max-width: 1199px) {
  :root {
    --fs-xxs: 1.4rem;
    --fs-xs: 1.6rem;
    --fs-sm: 1.8rem;
    --fs-md: 2.4rem;
    --fs-lg: 3.6rem;
    --fs-xl: 5.8rem;
    --fs-xml: 8rem;
    --fs-xxl: 12rem;
    --x-spacing: 6rem;
    --y-spacing: 20rem;
  }
}
@media (max-width: 991px) {
  :root {
    --fs-md: 2rem;
    --fs-xml: 6rem;
    --fs-xl: 4.8rem;
    --fs-xxl: 10rem;
    --y-spacing: 12rem;
  }
}
@media (max-width: 767px) {
  :root {
    --fs-md: 1.8rem;
    --fs-xml: 5rem;
    --fs-xl: 4.0rem;
    --x-spacing: 3rem;
    --header-height: 14rem;
  }
}

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
  font-size: 62.5%;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Remove list styles on ul and ol */
ul, ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background: hsl(var(--color-bg-alt));
  font-family: var(--font-primary);
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

::selection {
  color: hsl(var(--color-black));
  background: hsl(var(--color-primary));
}

main {
  min-height: 100vh;
}

p {
  font-weight: var(--fw-regular);
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.notFound {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  color: hsl(var(--color-white));
  text-align: center;
}
.notFound h1.notFoundTitle {
  font-size: var(--fs-xl);
}
.notFound h2.notFoundTitle {
  font-size: var(--fs-md);
}
.notFound p {
  font-size: var(--fs-sm);
  color: hsla(var(--color-white), 0.7);
  margin-bottom: 6rem;
  margin-top: 3rem;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/UI/Elements/Logo/Logo.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Logo_logo__nCUH4 {
  --spin-text: hsl(var(--color-primary));
  --inner-circle: hsl(var(--color-black));
  --inner-stroke: hsl(var(--color-black));
  --inner-path: hsl(var(--color-primary));
  display: block;
  height: auto;
}
@media (max-width: 767px) {
  .Logo_logo__nCUH4 {
    max-width: 10rem;
  }
}
.Logo_logo__nCUH4 .Logo_outer__8YU_b {
  transform-origin: 50% 50%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.Logo_logo__nCUH4 .Logo_spin__vyQHv {
  animation: Logo_freeRotate__jHGEV 20s linear infinite;
  transform-origin: 50% 50%;
}
.Logo_logo__nCUH4 .Logo_spin__vyQHv path {
  fill: var(--spin-text);
}
.Logo_logo__nCUH4 .Logo_inner__b75Q7 circle {
  fill: var(--inner-circle);
  stroke: var(--inner-stroke);
}
.Logo_logo__nCUH4 .Logo_inner__b75Q7 path {
  fill: var(--inner-path);
}
.Logo_logo__nCUH4:hover .Logo_spin__vyQHv {
  animation-play-state: paused;
  animation: Logo_revertRotate__PlRTV 5s linear infinite;
}
.Logo_logo__nCUH4:hover .Logo_outer__8YU_b {
  transform: scale(1.1);
}

@keyframes Logo_freeRotate__jHGEV {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Logo_revertRotate__PlRTV {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/UI/Cards/SocialLinks/SocialLinks.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SocialLinks_social__mM0Eb {
  --size: 5rem;
  --icon-color: hsl(var(--color-white));
  --bg-color: hsl(var(--color-primary));
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}
.SocialLinks_social__mM0Eb li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  position: relative;
  z-index: 1;
  border-radius: 50%;
}
.SocialLinks_social__mM0Eb li a:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  scale: 0;
  z-index: -1;
  transition: all 0.3s ease;
  background: var(--bg-color);
  border-radius: 50%;
}
.SocialLinks_social__mM0Eb li a:hover {
  --icon-color: hsl(var(--color-black));
}
.SocialLinks_social__mM0Eb li a:hover:before {
  scale: 1;
}
.SocialLinks_social__mM0Eb li svg path, .SocialLinks_social__mM0Eb li svg rect {
  fill: var(--icon-color);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/UI/Cards/NavDetailed/NavDetailed.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NavDetailed_ul__lA6yh {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  gap: 6rem;
  padding-left: 0;
}
@media (max-width: 1199px) {
  .NavDetailed_ul__lA6yh {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }
}
@media (max-width: 767px) {
  .NavDetailed_ul__lA6yh {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}
@media (min-width: 1200px) {
  .NavDetailed_ul__lA6yh li:nth-child(1), .NavDetailed_ul__lA6yh li:nth-child(2) {
    grid-column: 2/3;
  }
}
.NavDetailed_ul__lA6yh li a, .NavDetailed_ul__lA6yh li button {
  display: block;
  padding: 1rem;
  text-decoration: none;
  border: 0;
  background: transparent;
  text-align: left;
}
.NavDetailed_ul__lA6yh li a:hover, .NavDetailed_ul__lA6yh li button:hover {
  cursor: pointer;
}

.NavDetailed_title__FZY4H {
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 1rem;
  color: hsl(var(--color-white));
  font-weight: var(--fw-medium);
  font-size: var(--fs-sm);
}
@media (max-width: 767px) {
  .NavDetailed_title__FZY4H {
    margin-bottom: 0;
  }
}
.NavDetailed_title__FZY4H span {
  display: block;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
a:hover .NavDetailed_title__FZY4H span, button:hover .NavDetailed_title__FZY4H span {
  transform: translateY(-100%);
}
.NavDetailed_title__FZY4H span:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}
a:hover .NavDetailed_title__FZY4H, button:hover .NavDetailed_title__FZY4H {
  color: hsl(var(--color-primary));
}

.NavDetailed_description__2s7Hy {
  color: hsl(var(--color-body));
  font-weight: var(--fw-regular);
  font-size: var(--fs-xs);
}
@media (max-width: 767px) {
  .NavDetailed_description__2s7Hy {
    display: none;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/UI/Elements/Blobs/Blobs.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Blobs_blob__jPQIw {
  position: absolute;
  pointer-events: none;
  filter: blur(10rem);
}
.Blobs_v1__SO4NL {
  right: -50%;
  top: -50%;
  width: 60%;
  height: 80%;
  background: conic-gradient(#000, #0528a2);
}

.Blobs_v2__c_UgS {
  left: -20%;
  top: 10%;
  width: 30%;
  height: 40%;
  background: conic-gradient(from 2.35rad, hsl(29, 100%, 39%), hsla(234, 94%, 46.1%, 0.5));
}

.Blobs_v3__eBZBK {
  left: 10%;
  top: 50%;
  width: 30%;
  height: 50%;
  background: conic-gradient(hsl(0, 0%, 24%), hsla(234, 94%, 31%, 0.29));
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/Layout/Footer/Footer.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__l_IPH {
  position: relative;
  background: hsl(var(--color-bg-alt));
  padding: var(--y-spacing) var(--x-spacing) 3rem;
  overflow: hidden;
  border-top: 1px solid hsla(var(--color-white), 0.1);
}
@media (min-width: 576px) {
  .Footer_footer__l_IPH {
    padding: var(--y-spacing) var(--x-spacing) 9rem;
  }
}
.Footer_footer__l_IPH .Footer_inner__LH44F {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-areas: "connect nav" "bottom bottom";
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 1199px) {
  .Footer_footer__l_IPH .Footer_inner__LH44F {
    grid-template-areas: "connect" "nav" "bottom";
    grid-template-columns: 1fr;
    gap: var(--x-spacing);
  }
}
.Footer_footer__l_IPH .Footer_connect__VbeHW {
  grid-area: connect;
}
@media (max-width: 767px) {
  .Footer_footer__l_IPH .Footer_connect__VbeHW {
    margin-bottom: 3rem;
  }
}
.Footer_footer__l_IPH .Footer_nav__LW_Ff {
  grid-area: nav;
}
.Footer_footer__l_IPH .Footer_bottom__PoZvL {
  grid-area: bottom;
  text-align: center;
  padding: var(--y-spacing) 3rem 3rem;
}
@media (max-width: 1199px) {
  .Footer_footer__l_IPH .Footer_bottom__PoZvL {
    padding: var(--x-spacing) 3rem 3rem;
  }
}

.Footer_email__D_zk_:after, .Footer_copyright__fV38_ a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: hsl(var(--color-primary));
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.Footer_copyright__fV38_ {
  color: hsl(var(--color-body));
  font-size: var(--fs-xs);
  margin-bottom: 3rem;
}
.Footer_copyright__fV38_ a {
  position: relative;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.Footer_copyright__fV38_ a:hover {
  color: hsl(var(--color-primary));
}
.Footer_copyright__fV38_ a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.Footer_title__6C3wy {
  margin-bottom: 3rem;
  padding: 1rem;
  font-weight: var(--fw-medium);
  line-height: 1;
  color: hsl(var(--color-white));
  font-size: var(--fs-xl);
}
.Footer_title__6C3wy span:not([class]) {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .Footer_title__6C3wy {
    margin-bottom: 1.5rem;
  }
}

.Footer_email__D_zk_ {
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
  padding: 1rem;
  color: hsl(var(--color-body));
  font-size: var(--fs-sm);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.Footer_email__D_zk_:hover {
  color: hsl(var(--color-primary));
}
.Footer_email__D_zk_:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.Footer_verse__UnHQj {
  color: hsl(var(--color-primary-alt));
  font-size: var(--fs-xs);
}

.Footer_badge__0WsRs {
  display: inline-block;
  margin-bottom: 6rem;
}

.Footer_skeleton__6mMeC {
  position: absolute;
  right: 0;
  bottom: 25rem;
  pointer-events: none;
  z-index: 0;
}
@media (max-width: 767px) {
  .Footer_skeleton__6mMeC {
    display: none;
  }
}
.Footer_skeleton__6mMeC .Footer_eyeball__GKGhI {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffbebe;
  border-radius: 50%;
  scale: 0;
  transition: all 0.3s linear;
}
.Footer_skeleton__6mMeC .Footer_eyeball__GKGhI.Footer_left___wlgw {
  left: 6%;
  top: 62%;
}
.Footer_skeleton__6mMeC .Footer_eyeball__GKGhI.Footer_right__nlkcB {
  left: 15.5%;
  top: 56.4%;
}
.Footer_skeleton__6mMeC.Footer_animating__YwQiY .Footer_eyeball__GKGhI {
  scale: 1;
  animation: Footer_skullEye__e_mZp 1.8s infinite;
}
@keyframes Footer_skullEye__e_mZp {
  0%, 100% {
    box-shadow: 0 0 4px 8px hsl(var(--color-alert));
  }
  50% {
    box-shadow: 0 0 4px 4px hsl(var(--color-alert));
  }
}

.Footer_capillaryContainer__MqkK9 {
  --stroke: rgba(255, 255, 255, 0.2);
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.Footer_capillary__pJm_K {
  position: absolute;
  pointer-events: none;
  opacity: 0.1;
  transition: opacity 0.2s linear;
}
.Footer_capillary__pJm_K path {
  stroke: var(--stroke);
}

.Footer_capillary1__AiOiw {
  bottom: 50%;
  right: 50%;
  margin-bottom: -300px;
  margin-right: -400px;
  animation: Footer_capillaryShape1__xkJET 20s infinite alternate linear;
}

.Footer_capillary2__HzyWV {
  top: 50%;
  left: 50%;
  margin-top: -600px;
  margin-left: -475px;
  transform: rotate(15deg);
  animation: Footer_capillaryShape2__Sbl7y 20s infinite alternate linear;
}

@keyframes Footer_capillaryShape1__xkJET {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(20%) rotate(20deg);
  }
}
@keyframes Footer_capillaryShape2__Sbl7y {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  100% {
    transform: translateY(-20%) rotate(20deg);
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/Layout/Navigation/Navigation.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Navigation_container__9lAcn {
  position: fixed;
  bottom: calc(var(--x-spacing) / 3);
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}
@media (max-width: 575px) {
  .Navigation_container__9lAcn {
    transform: translateX(100%);
    inset: 0;
    width: 100%;
    height: 100%;
  }
}
.Navigation_container__9lAcn.Navigation_menuOpen__qdPC3 {
  transform: translateX(0);
}

.Navigation_navigation__C5PNs {
  position: relative;
  z-index: 1;
  border-radius: 100vw;
  -webkit-backdrop-filter: blur(0.4rem);
          backdrop-filter: blur(0.4rem);
  background-color: hsla(var(--color-black), 0.8);
  border: 0.05rem solid hsla(var(--color-white), 0.16);
  box-shadow: 0.01rem 0.01rem 0.07rem hsla(var(--color-black), 0.16);
}
@media (max-width: 575px) {
  .Navigation_navigation__C5PNs {
    background-color: hsla(var(--color-black), 0.95);
    border-radius: 0;
    width: 100%;
    padding-top: var(--header-height);
  }
}
.Navigation_navigation__C5PNs ul {
  display: flex;
  padding: 0 1.5rem;
  height: 6rem;
  align-items: center;
}
@media (max-width: 575px) {
  .Navigation_navigation__C5PNs ul {
    display: block;
  }
}
.Navigation_navigation__C5PNs ul li a, .Navigation_navigation__C5PNs ul li button {
  display: block;
  padding: 1rem 1.5rem;
  font-size: var(--fs-xxs);
  color: hsl(var(--color-white));
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 100vw;
  border: 0;
  background: transparent;
}
@media (max-width: 575px) {
  .Navigation_navigation__C5PNs ul li a, .Navigation_navigation__C5PNs ul li button {
    --fs-xxs: 2rem;
    display: block;
    width: 100%;
    padding: 2rem 3rem;
    text-align: left;
  }
}
.Navigation_navigation__C5PNs ul li a:hover, .Navigation_navigation__C5PNs ul li button:hover {
  cursor: pointer;
  color: hsl(var(--color-black));
}

.Navigation_bg__3QLGM {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: hsl(var(--color-primary));
  pointer-events: none;
  border-radius: 100vw;
  height: 4.6rem;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/Layout/Header/Header.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__E1Wv4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  /*&.menuOpen{

  }*/
}

.Header_inner__mIccn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--x-spacing);
  height: var(--header-height);
}

.Header_logo__sVu15 {
  display: inline-block;
}

.Header_menuToggle__Usyvc {
  --size: 5rem;
  --lineHeight: 0.2rem;
  --lineWidth: 40%;
  position: relative;
  background: none;
  border: 0;
  padding: 0;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}
@media (min-width: 576px) {
  .Header_menuToggle__Usyvc {
    display: none;
  }
}
.Header_menuToggle__Usyvc span {
  display: block;
  width: var(--lineWidth);
  height: var(--lineHeight);
  background: hsl(var(--color-white));
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.Header_menuToggle__Usyvc span:nth-child(1) {
  transform-origin: right bottom;
  top: calc(50% - var(--lineHeight) * 3);
  left: 10%;
}
.Header_menuToggle__Usyvc span:nth-child(2) {
  transform-origin: left bottom;
  top: calc(50% - var(--lineHeight) * 3);
  left: 50%;
}
.Header_menuToggle__Usyvc span:nth-child(3) {
  transform-origin: right top;
  top: calc(50% + var(--lineHeight) * 3);
  left: 10%;
}
.Header_menuToggle__Usyvc span:nth-child(4) {
  transform-origin: left bottom;
  top: calc(50% + var(--lineHeight) * 3);
  left: 50%;
}
.Header_menuToggle__Usyvc:hover span:nth-child(1) {
  transform: rotateZ(45deg);
  top: 50%;
}
.Header_menuToggle__Usyvc:hover span:nth-child(2) {
  transform: rotateZ(-45deg);
  top: 50%;
}
.Header_menuToggle__Usyvc:hover span:nth-child(3) {
  transform: rotateZ(-45deg);
  top: 50%;
}
.Header_menuToggle__Usyvc:hover span:nth-child(4) {
  transform: rotateZ(45deg);
  top: 50%;
}

.Header_info__CwPaE {
  font-size: var(--fs-xs);
  color: hsl(var(--color-white));
}

.Header_openToWork__uGQRW {
  margin-right: 1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  font-size: var(--fs-ms);
  color: hsla(var(--color-white), 0.9);
  line-height: 1;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
}
@media (max-width: 575px) {
  .Header_openToWork__uGQRW {
    display: none;
  }
}
.Header_openToWork__uGQRW span {
  position: relative;
  box-sizing: content-box;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: hsl(var(--color-success));
}
.Header_openToWork__uGQRW span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: Header_pulsate___tW0V 2s infinite;
  border-radius: 50%;
  box-shadow: 0 0 0 0 hsl(var(--color-success));
}
@keyframes Header_pulsate___tW0V {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 hsla(var(--color-success), 0.1);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 0.8rem hsla(var(--color-success), 0.2);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 hsla(var(--color-success), 0.1);
  }
}

.Header_location__72twJ {
  margin-left: 3 rem;
  font-size: var(--fs-ms);
  color: hsla(var(--color-white), 0.9);
  text-transform: uppercase;
}
@media (max-width: 575px) {
  .Header_location__72twJ {
    display: none;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./components/UI/Elements/CustomCursor/CustomCursor.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CustomCursor_customCursor__OA6WQ {
  --cursor-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: 100%;
  background-color: hsl(var(--color-primary));
  mix-blend-mode: difference;
  z-index: 99999999 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
@media (pointer: coarse), (pointer: none) {
  .CustomCursor_customCursor__OA6WQ {
    display: none;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app/layout.js","import":"Manrope","arguments":[{"subsets":["latin"],"variable":"--font-primary","weight":["300","400","500","700"],"display":"swap"}],"variableName":"bodyFont"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/78187650dd6b50b3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/4529092560591ab4-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/b8222d26e20b2e06-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/008f2e8b4aae291f-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/3c46462b57ac880e-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/_next/static/media/3534416bbfdcc9be-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/78187650dd6b50b3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/4529092560591ab4-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/b8222d26e20b2e06-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/008f2e8b4aae291f-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3c46462b57ac880e-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3534416bbfdcc9be-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/78187650dd6b50b3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/4529092560591ab4-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/b8222d26e20b2e06-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/008f2e8b4aae291f-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/3c46462b57ac880e-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/_next/static/media/3534416bbfdcc9be-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/78187650dd6b50b3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/4529092560591ab4-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/b8222d26e20b2e06-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/008f2e8b4aae291f-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/3c46462b57ac880e-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Manrope_0aa786';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/3534416bbfdcc9be-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Manrope_Fallback_0aa786';src: local("Arial");ascent-override: 102.96%;descent-override: 28.98%;line-gap-override: 0.00%;size-adjust: 103.53%
}.__className_0aa786 {font-family: '__Manrope_0aa786', '__Manrope_Fallback_0aa786';font-style: normal
}.__variable_0aa786 {--font-primary: '__Manrope_0aa786', '__Manrope_Fallback_0aa786'
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app/layout.js","import":"Libre_Baskerville","arguments":[{"subsets":["latin"],"variable":"--font-alt","weight":["400","700"],"display":"swap"}],"variableName":"altFont"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: '__Libre_Baskerville_86181b';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3e0204632fc66b80-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Libre_Baskerville_86181b';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/640ece80909a508b-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: '__Libre_Baskerville_86181b';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/6ed04a86ee0f9353-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Libre_Baskerville_86181b';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/d5fafdc7bbd3315c-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Libre_Baskerville_Fallback_86181b';src: local("Times New Roman");ascent-override: 75.76%;descent-override: 21.09%;line-gap-override: 0.00%;size-adjust: 128.03%
}.__className_86181b {font-family: '__Libre_Baskerville_86181b', '__Libre_Baskerville_Fallback_86181b';font-style: normal
}.__variable_86181b {--font-alt: '__Libre_Baskerville_86181b', '__Libre_Baskerville_Fallback_86181b'
}

